.about-me {
  margin-bottom: 2rem;
  padding: 1rem 0;
  text-align: center;
}

.posts-header {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: $serif-primary;
  margin-bottom: 2rem;
}