// Original colors
$color-1: #69e375;
$color-2: #fd9b32;
$color-3: #e56be5;
$color-4: #5dedeb;
$color-5: #8A2BE2;
$color-6: #FFF44F;
$color-7: #008080;
$color-8: #FF7F50;
$color-9: #4169E1;

// Light shades of original colors
$color-1-light: #a5eead;
$color-2-light: #fec585;
$color-3-light: #f0a5f0;
$color-4-light: #9ff4f3;
$color-5-light: #b985ed;
$color-6-light: #fff9a3;
$color-7-light: #40a0a0;
$color-8-light: #ffb399;
$color-9-light: #819aea;

$lime-green: $color-1;
$lime-green-light: $color-1-light;
$vivid-orange: $color-2;
$vivid-orange-light: $color-2-light;
$vibrant-pink: $color-3;
$vibrant-pink-light: $color-3-light;
$bright-cyan: $color-4;
$bright-cyan-light: $color-4-light;
$deep-purple: $color-5;
$deep-purple-light: $color-5-light;
$soft-yellow: $color-6;
$soft-yellow-light: $color-6-light;
$dark-teal: $color-7;
$dark-teal-light: $color-7-light;
$muted-coral: $color-8;
$muted-coral-light: $color-8-light;
$electric-blue: $color-9;
$electric-blue-light: $color-9-light;